---
layout: default
title: projects - shabazbadshah.com
permalink: /projects/
---

<div id="project-wrapper">
  <h1 id="project-page-title">projects</h1>
  <div id="project-list-wrapper">
    <ul id="project-list">
      {% for post in site.categories.projects %}
        <li id="project-list-item">
          <div id="project-info-wrapper">
            <a href="{{ post.url }}">
              <h4 id="project-title">{{ post.title }}</h4>
            </a>
            <div id="metadata-wrap">
              <h5>{{post.date | date: "%B %-d, %Y"}}</h5>
              <div id="project-links-wrap">
                {% if post.repo_link %}
                  <a href="{{post.repo_link}}""><h6>Source Code</h6></a>
                {% endif %}
                
                {% if post.website %}
                  <a href="{{post.website}}""><h6>Website</h6></a>
                {% endif %}
              </div>
            </div>
          </div>
          <p id="project-blurb"> {{ post.project-blurb }} </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<h5 id="footer-copyright">Made by <b>Shabaz Badshah</b></h5>