---
layout: default
title: projects - shabazbadshah.com
permalink: /projects/
---

<h2 id="project-page-title">personal projects</h2>
<div id="project-list-wrapper">
  <ul id="project-list">
    {% for post in site.categories.projects %}
      <li id="project-list-item">
        <a id="project-article-link" href="{{ post.url }}">
          <div id="project-info-wrapper">
            <a href="{{ post.url }}"> <h4 id="project-title">{{ post.title }}</h4></a>
            <div id="metadata-wrap">
              <h5 id="project-date"> {{post.date | date: "%B %-d, %Y"}}</h5>
              <div id="project-links-wrap">
                {% if post.repo_link %}
                  <a id="project-link" href="{{post.repo_link}}""><h6>Source Code</h6></a>
                {% endif %}
                
                {% if post.website %}
                  <a id="project-link" href="{{post.website}}""><h6>Website</h6></a>
                {% endif %}
              </div>
            </div>
          </div>
          <p id="project-blurb"> {{ post.project-blurb }} </p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% include footer.html %}