section.about#about(style="background-image: url({{site.baseurl}}/assets/img/section-bg/question-mark.png), url({{site.baseurl}}/assets/img/section-bg/about-me.png);")

   h2.title About Me 

   .blurb
      h1.about-desc Hey there, my name is Shabaz Badshah, I'm currently studying Computer Science at the University of Toronto. I've loved computers since I started programming at the age of 13. If there's one thing you need to know about me, it's that I'm very process driven. During my spare time I enjoy making or learning about anything that has to do with technology, algorithms, or math :) 
