mixin navItems()
   ul
      li.header-item  
         a(href="#home") Home
      li.header-item  
         a(href="#about") About
      li.header-item
         a(href="#work") Portfolio
      li.header-item
         a(href="#email") Email Me
         

.mobile-nav
   +navItems()

header
   .header-position
      a.logo(href="index.html")
    
      nav.site-nav
         +navItems()
    
      // Used as a hidden element to allow for nav to be aligned middle
      a(href="").email-link
    
      //Mobile navigation toggle
      .mobile-nav-toggle: span
