header.project-header
   .header-position
      a.logo(href="index.html")
    
      .header-blurb
         p Here are some of the cool projects I've completed, or are in progress. 
   
      // Used as a hidden element to allow for nav to be aligned middle
      a(href="{{site.baseurl}}/index.html").email-link Back to Home
