{
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
