<header>
  <div id="header-position">
    <a href="/">
      <img id="brand-logo" src="{{site.baseurl}}/assets/images/logo.png" alt="" srcset=""/>
    </a>
    <nav>
      <ul id="nav-items-list">
        <li id="nav-item"><a href="/">shabazbadshah.com</a></li>
        <li id="nav-item"><a href="/about">about</a></li>
        <li id="nav-item"><a href="/blog">the changelog</a></li>
        <li id="nav-item"><a href="/projects">projects</a></li>
        <li id="nav-item"><a href="{{site.baseurl}}/resume.pdf">resume</a></li>
      </ul>
    </nav>
  </div>
</header>