p.about-blurb
  letter-spacing: 0.02rem
  width: 30%
  margin-top: 20px
  text-align: center

  b
    color: $site-theme-color

a#resume-link
  font-weight: bold
  color: $site-theme-color
  text-decoration: underline
  text-decoration-color: black

  &:hover
    color: black
  
#profile-img-container
  display: inline-block
  position: relative
  width: 180px
  height: 180px

#profile-img-container img#profile-pic
  object-fit: contain
  object-position: center center
  width: 100%
  border-radius: 50%
  border: 1px solid $site-theme-color


p#sign-off
  margin: 10px
  color: $site-theme-color
  font-weight: bold

#social-media-links-wrapper
  margin-top: 80px

  img.social-media-icon
    width: 40px
    margin: 0 15px
    border-radius: 4px
    padding: 8px
    background-color: #f2f2f2
    transition: all ease-in-out 0.1s

    &:hover
      background-color: #e6e6e6



@media only screen and (max-width: 500px)
  #social-media-links-wrapper
    margin-top: 40px

  p.about-blurb
    width: 95%
  


@media only screen and (max-width: 768px)
  p.about-blurb
    width: 90%
  


@media (max-width:1024px) and (min-width:768px)
  p.about-blurb
    width: 50%
  
