#blog-showcase-content-wrap {
  padding: 100px 400px;
  padding-bottom: 20px;
}

#blog-showcase-content-wrap a {
  color: #0051ff;
  text-decoration: underline;
  text-decoration-color: #0051ff;
}

#blog-showcase-content-wrap img {
  max-width: 100%;
  max-height: 500px;
  overflow: auto;
  display: block;
  margin: 0 auto;
}

#blog-showcase-content-wrap h1 {
  margin-top: 100px;
  margin-bottom: 0px;
  color: #0051ff;
}

#blog-showcase-content-wrap h2 {
  font-size: 2rem;
  margin-top: 70px;
  margin-bottom: 30px;
  background-color: #0051ff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  width: fit-content;
  box-shadow: 3px 0px 15px -10px rgba(0,0,0,0.2);
  text-anchor: middle;
  line-height: 2.4rem;
}

#blog-showcase-content-wrap h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

#blog-showcase-content-wrap h4 {
  margin-top: 30px;
  margin-bottom: 20px;
}

#blog-showcase-content-wrap p {
  line-height: 2rem;
  margin-top: 25px;
  font-size: 1.2rem;
}

#blog-showcase-content-wrap h2#date {
  font-size: 1.25rem;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #999;
  background-color: transparent;
  padding: 0;
}

#blog-showcase-content-wrap li {
  margin: 10px auto;
  font-size: 1.2rem;
}

#blog-showcase-content-wrap > h5#footer-copyright {
  display: none;
}

#center-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#center-image-container img.override-width {
  margin: 10px;
  max-width: 100% !important;
}

h2#project-links {
  margin-top: 0;
  margin-bottom: 10px; 
}

h2#project-links a {
  font-size: 1.2rem;
  margin-top: 0;
  color: #888;
  text-decoration: underline;
  text-decoration-color: #0051ff;
  width: fit-content;
}

h2#project-links a:hover {
  color: black;
}

#youtube {
  border: #0051ff 3px solid;
}

@media (max-width:1300px) {
  #blog-showcase-content-wrap {
    padding: 100px 150px;
  }
}

@media (max-width:768px) {
  #blog-showcase-content-wrap {
    padding: 50px 70px;
  }

  #blog-showcase-content-wrap h1 {
    line-height: 6rem;
  }
}

@media (max-width:500px) {

  #blog-showcase-content-wrap {
    padding: 0;
    width: 90%;
    padding-top: 50px;
  }

  #blog-showcase-content-wrap h1 {
    margin-top: 50px;
    line-height: 6rem;
  }

  #blog-showcase-content-wrap img {
    width: 100%;
  }
}