@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  color: black;
}

* {
  box-sizing: border-box;
  position: relative;
}

::selection {
  background: rgb(197, 197, 197);
}

body, html {
  font-family: 'roboto';
  height: 100%;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #eee;
  background-color: white;
  box-shadow: 0 3px 10px rgba(50,50,50,0.05);
}

header img#brand-logo {
  width: 40px;
  margin: 10px;
  margin-bottom: 5px;
  background-color: #0051ff;
  border-radius: 5px;
}

ul#nav-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li#nav-item a {
  color: black;
  padding: 8px;
  transition: all ease-in-out 0.2s;
  text-align: center;
  text-anchor: middle;
}

li#nav-item a:hover {
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
  background-color: #0051ff;
  color: white;
  font-weight: bold;
}

li#nav-item {
  margin: 5px;
  display: flex;
  align-items: center;
}

#content-wrap {
  top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  font-size: 1.625rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 30px;
}

h5 {
  font-size: 1.15rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
}

p {
  margin-top: 30px;
  font-size: 1.1rem;
  line-height: 2.2rem;
}

ul {
  font-size: 1.1rem;
  padding-left: 20px;
}

li {
  margin: 5px auto;
  line-height: 1.7rem;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  overflow: auto; 
  margin: 30px auto;
}

table th {
  border: 1px solid black;
  padding: 10px 10px;
  font-size: 1.15rem;
}

table td {
  border: 1px solid black;
  padding: 5px 10px;
  overflow-x: auto;
  font-size: 1.1rem;
}

pre.highlight {
  border-radius: 6px;
  padding: 5px 10px;
  overflow: auto;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 3px 10px rgba(50,50,50,0.03);
  font-size: 1.1rem;
  font-family: 'roboto';
}

h2#page-title {
  margin-top: 100px;
  margin-bottom: 80px;
  background-color: #0051ff;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-anchor: middle;
  box-shadow: 3px 0px 15px -10px rgba(0,0,0,0.2);
}

p#about-blurb {
  letter-spacing: 0.02rem;
  width: 30%;
  margin-top: 20px;
  text-align: center;
}

p#about-blurb b {
  color: #0051ff;
}

a#resume-link {
  font-weight: bold;
  color: #0051ff;
  text-decoration: underline;
  text-decoration-color: black;
}

a#resume-link:hover {
  color: #0051ff;
  
}

img#profile-pic {
  border-radius: 300px;
  width: 120px;
}

#social-media-links-wrapper {
  margin-top: 80px;
}

img#social-media-icon {
  width: 40px;
  margin: 0 25px;
  border-radius: 4px;
  padding: 8px;
  background-color: #f2f2f2;
  transition: all ease-in-out 0.1s;
}

img#social-media-icon:hover {
  background-color: #e6e6e6;
}

img#social-media-icon:first-child {
  margin-left: 0;
}

#footer-copyright {
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: normal;
}

#footer-copyright b {
  color: #0051ff;
}

#footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 30px;
}

@media only screen and (max-width: 400px) {
  header {
    flex-direction: column;
    padding-bottom: 10px;
  }

  header img#brand-logo {
    width: 60px;
  }

  li#nav-item {
    margin: 0 20px;
  }

  #content-wrap {
    top: 160px;
  }

  h2#page-title {
    margin: 50px auto;
  }

  p#about-blurb {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  p#about-blurb {
    width: 90%;
  }
}

@media (max-width:1024px) and (min-width:768px) {
  p#about-blurb {
    width: 50%;
  }
}