@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  color: black;
}

* {
  box-sizing: border-box;
  position: relative;
}

body, html {
  font-family: 'roboto';
  height: 100%;
}

#index-wrap {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
}

header img#brand-logo {
  width: 100px;
  position: relative;
  right: 28px;
  top: 0;
  margin-bottom: 50px;
}

header#nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}

ul#nav-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: black;
}

li#nav-item a {
  color: black;
  padding: 8px;
}

li#nav-item a:hover {
  border-radius: 4px;
  background-color: #f2f2f2;
}

li#nav-item {
  margin: 15px 0;
}

#content-wrap {
  background-color: lightcoral;
  flex: 1;
  height: 100%;
}