@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf');
  color: white;
}

body, html {
  height: 100%;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3em;
} 

#wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #181818;
  margin: 0;
  overflow: hidden;
}

#nav-root-wrapper {
  display: flex;
  position: relative;
  z-index: 100;
}

#sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
  transition: all ease-in-out .3s;
  order: -1;
}

#nav-list {
  padding-left: 0;
  margin: auto 20px;
}

#nav-list li { 
  text-decoration-style: none;
  font-face: 'Montserrat';
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  list-style-type: none;
  margin: 15px auto;
  /* white-space: nowrap; */
}
#nav-list li:first-child { margin-top: 0; }
#nav-list li:last-child { margin-bottom: 0; }

#nav-list li a {
  text-decoration: none;
  color: white;
  transition: all ease-in-out 0.25s;
}

#nav-list li:hover a { 
  color: rgb(201, 35, 35);
  transition: all ease-in-out 0.25s;
}

#collapsed-nav-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.65);
  position: relative;
  z-index: 200;
}

#nav-toggle-icon {
  margin: 0 15px;
  margin-left: 0;
  position: relative;
  z-index: 100;
}

.nav-icon-bar {
  width: 30px;
  height: 2px;
  background-color: rgb(230, 230, 230);
  margin: 6px 0;
  transition: all ease-in-out 0.25s;
}
#nav-toggle-icon:hover { cursor: pointer; }
#nav-toggle-icon:hover .nav-icon-bar {
  background-color: rgb(201, 35, 35);
  transition: all ease-in-out 0.25s;
}

#logo-holder {
  position: absolute;
  top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo {
  width: 100px;
  height: 100px;
}

#logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.content-wrap {
  flex: 1;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(34, 32, 41);
  position: relative;
  z-index: 0;
}

.content {
  flex: 1;
} 

.link-icon {
  margin: 0 20px;
  font-size: 4.5em;
  color: white;
  transition: all ease-in-out 0.25s;
}

.link-icon:hover {
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

.ion-social-linkedin:hover { color: #0077b5; }
.ion-social-github:hover { color: #6e5494; }
.ion-android-mail:hover { color: #6cc644; }

.main-content-wrap {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
  background-color: rgb(230, 230, 230);
  overflow-x: hidden;
}

::-webkit-scrollbar { 
  display: none; 
}

.project-article-wrap {
  height: 100%;
  width: 75%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 2rem; 
  background-color: rgb(230, 230, 230);
}

.tech-skills-wrap {
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 32, 41);
  height: 100%;
  width: 25%;
}

h3.article-subheading.side, .tech-skills-wrap li {
  color: white;
}

.tech-wrap {
  flex: 1;
  border-bottom: 1px solid rgb(24, 24, 27);
}

.skills-wrap {
  flex: 1;
}

.article-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.article-subsection:last-child {
  margin-bottom: 5rem;
}

p.article-thanks {
  display: block;
  text-align: center;
  padding-bottom: 50px;
  font-size: 1.35em;
  font-weight: bold;
}

h3.article-subheading {
  font-family: 'League Spartan', Helvetica,Arial,sans-serif;
  font-size: 2em;
  color: black;
  font-style: normal;
  font-weight: bold;
  width: 75%;
  margin-bottom: 1rem;
}

h3.article-subheading.side {
  text-align: start;
  margin: 2rem;
  margin-bottom: 0;
  /* margin-bottom: 10px; */
}

p.article-paragraph {
  display: block;
  width: 75%;
  line-height: 1.8em;
  font-size: 1.35em;
  font-weight: normal;
  font-style: normal;
}

pre.preformated {
  width: auto;
  display: block;
  font-size: 1em;
  text-align: left;
}

.blockquote-wrap {
  display: flex;
  justify-content: center;
}

blockquote {
  width: 75%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.2em;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1rem;
}

ul.article-list {
  display: table;
  list-style-position: inside;
  list-style: none;
  margin-left: 0;
  margin-top: 1rem;
  width: 85%;
}

ul.article-list .inner {
  margin-top: 0;
  width: 75%;
}

li.article-list-item {
  font-family: 'Times New Roman', Times, serif;
  display: table-row;
  font-size: 1.3em;
  margin: 10px auto;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}

/*Allows all items in the list to be justified the same amount, https://j.eremy.net/align-lists-flush-left/*/
li.article-list-item:before {
  content: "•"; 
  display: table-cell;
  padding-right: 1rem;
  color: white;
}

ul.article-list.inner li.article-list-item:before {
  content: "•"; 
  display: table-cell;
  padding-right: 1rem;
  color: black;
}

/*Centers the list in the center of the div*/
.article-subsection > ul.article-list {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding-left: 0;
  margin-bottom: 1.1rem;
}

.article-image-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
}

h3.article-image-caption {
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
  color: black;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 0;
  margin-bottom: 2rem;
}

.image-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 2rem;
}

.article-image {
  width: auto;
  height: 100%;
  max-height: 500px;
  margin: 1rem;
}

.article-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: none;
}

p.indent-paragraph {
  text-indent: 2em;
}

/* Phones portrait and landscape */
@media only screen and (max-width: 600px) and (orientation: portrait), screen and (max-width: 768px) and (orientation: landscape) {
  #nav-toggle-icon {
    margin: 0 10px;
  }

  .content-wrap {
    display: block;
  }

  .main-content-wrap {
    display: block;
    height: auto;
    background-color: transparent;
  }

  .project-article-wrap, .tech-skills-wrap {
    width: 100%;
    margin: 0;
  }

  .tech-skills-wrap {
    margin-bottom: 2rem;
    margin-top: 0.8rem;
  }

  .tech-wrap {
    padding-bottom: 1.2rem;
  }

  h3.article-subheading, p.article-paragraph, blockquote {
    width: 90%;
  }

  video {
    width: 90%;
  }
} 

/* Landscape tablets */
@media screen and (max-width: 1024px) and (orientation: landscape) {
}

/* Portrait tablets */
@media only screen and (max-width: 768px) and (orientation: portrait){

}

@media (max-width: 720px) and (orientation: landscape) {}

@media (max-width: 720px), (orientation: landscape) and (max-width: 768px) {
  /* body {
     margin: 0;
     padding: 0;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  } */

  .article-subsection {
     width: 100%;
  }

  .article-thanks {
     padding-top: 55px;
     padding-bottom: 5px;
  }

  .article-image-wrap {
     height: auto;
  }

  .article-image {
     max-height: 0;
     width: 91%;
     /* max-width: 250px; */
     max-height: 100%;
  }

  .image-row {
     flex-direction: column;
     justify-content: center;
  }

  .image-row > .article-image {
     margin: 20px 0;
  }

}

@media (max-width: 420px) and (max-height: 700px){
  video {
     width: 95%;
     padding-bottom: 10px;
  }

  p.article-paragraph {
     text-align: left !important;
  }
}

@media (max-width: 720px) and (min-width: 550px) {
  .image-row {
     flex-direction: row;
  }
}

/*iPhone5 and SE */
@media (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
}
