#project-page-content-wrap {
  margin: auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul#project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a#project-article-link {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 1;
}

a#project-link {
  z-index: 2;
}

li#project-list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #f9f9f9;
  max-width: 48%;
  min-height: 280px;
  padding: 40px 70px;
  box-shadow: 0 3px 10px rgba(55,55,55,0.06);
  margin: 10px;
  margin-left: 0;
  margin-right: 20px;
  border-radius: 5px;
}

li#project-list-item:hover {
  background-color: #f2f2f2f2;
}

li#project-list-item * {
  margin: 0;
}

li#project-list-item h6 {
  color: #888;
}

h4#project-title {
  margin: 0;
  margin-top: 2px;
  letter-spacing: 0.08rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #0051ff;
}

h5#project-date {
  font-weight: normal;
}

#project-links-wrap {
  display: flex;
}

#project-links-wrap h6 {
  margin-left: 20px;
  text-decoration: underline;
  text-decoration-color: #0051ff;
}

#project-links-wrap h6:hover {
  color: black;
}

#metadata-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#project-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

p#project-blurb {
  margin-top: 30px;
  font-size: 1.15rem;
  line-height: 1.75rem;
  z-index: 0;
}

@media only screen and (max-width: 500px) {

  #project-page-content-wrap {
    padding: 0;
    margin: 0;
  }

  #project-page-content-wrap h2#page-title {
    margin-bottom: 40px;
  }

  ul#project-list {
    flex-direction: column;
    align-items: center;
  }

  li#project-list-item {
    max-width: 90%;
    padding: 30px 35px;
  }

  #project-info-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  #project-links-wrap {
    flex-direction: column;
    margin-top: 10px;
  }

  #project-links-wrap a#project-link h6 {
    margin-left: 0;
  }

  #metadata-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}
