#project-showcase-content-wrap {
  padding: 100px 400px;
  padding-bottom: 20px;
}

#project-showcase-content-wrap img {
  max-width: 400px;
  display: inline-block;
  margin: 0 auto;
}

#project-showcase-content-wrap h1 {
  margin-top: 100px;
  margin-bottom: 0px;
  color: #0051ff;
}

#project-showcase-content-wrap h2 {
  font-size: 2rem;
  margin-top: 80px;
  margin-bottom: 30px;
}

#project-showcase-content-wrap p {
  line-height: 2rem;
  margin-top: 25px;
  font-size: 1.2rem;
}

h2#date {
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #999;
}

#project-showcase-content-wrap li {
  margin: 10px auto;
  font-size: 1.2rem;
}

#project-showcase-content-wrap > h5#footer-copyright {
  display: none;
}

#center-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#center-image-container img.override-width {
  margin: 10px;
  max-width: 100% !important;
}

h2#project-links {
  margin-top: 0;
  margin-bottom: 10px; 
}

h2#project-links a {
  font-size: 1.2rem;
  margin-top: 0;
  color: #888;
  border-bottom: 2px solid #0051ff;
  width: fit-content;
}

h2#project-links a:hover {
  color: black;
}

#youtube {
  border: #0051ff 3px solid;
}