
ul#project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li#project-list-item {
  border-bottom: solid 1px #e8e8e8;
  border-right: solid 1px #e8e8e8;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 300px;
  padding: 20px 100px;
}

li#project-list-item:first-child, li#project-list-item:nth-child(2) {
  border-top: solid 1px #e8e8e8;
}

li#project-list-item:hover {
  background-color: #f2f2f2f2;
}

li#project-list-item * {
  margin: 0;
}

li#project-list-item h6 {
  color: #888;
}

li#project-list-item:last-child {
  border-bottom: solid 1px #eee;
}

#project-page-title {
  padding-left: 100px;
  padding-top: 20px;
  color: #05c582;
}

h4#project-title {
  margin: 0;
  margin-top: 2px;
  letter-spacing: 0.08rem;
  font-size: 1.20rem;
  border-bottom: 2px solid #05c582;

}

#project-links-wrap {
  display: flex;
}

#project-links-wrap h6 {
  margin-left: 20px;
  border-bottom: 2px solid #05c582;
}

#project-links-wrap h6:hover {
  color: black;
}

#metadata-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#project-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

p#project-blurb {
  margin-top: 40px;
  font-size: 1.15rem;
  line-height: 1.75rem;
}

p#project-page-blurb {
  padding-left: 100px;
  padding-right: 200px;
}
