#footer-wrapper
  position: static
  margin: 0
  margin-top: 80px

  #footer-copyright
    font-weight: normal

  b
      color: #0051ff



@media only screen and (max-width: 400px) 
  #footer-wrapper
    padding-top: 0
    margin-top: 80px

    #footer-copyright
      margin-top: 0