#footer-copyright
  margin-top: 50px
  margin-bottom: 40px
  font-weight: normal


#footer-copyright b
  color: #0051ff


#footer-wrapper
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  margin: 0
  padding-bottom: 30px
