.ind-project-page-wrap {
   width: 97%;
}

.ind-project-meta-wrap {
   background-color: #8e44ad;
}

.mobile-header-wrap {
   background-color: #8e44ad;
}

.back-to-projects {
   background-color: #af7ac4;
}

.back-to-projects a:hover {
   background-color: #5e1d79;
}

.article-image {
   transition: all ease-in-out .15s;
}

.article-image:hover {
   cursor: pointer;
   transition: all ease-in-out .15s;

   -webkit-box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.2);
   -moz-box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.2);
   box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.2);

   -webkit-transform: scale(1.03);
   transform: scale(1.03);
}

::selection {
  background: #af7ac4;
}

::-moz-selection {
  background: #af7ac4;
}


@media (max-width: 768px) {

   /*The lightbox anchor was preventing the images from taking up their entire container width, this counteracts that*/
   .article-image {
      width: 100%;
      max-height: 500px;
   }
}
