<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user=scalable=no">

      <!-- SEO opt meta -->
      <meta name="description" content="Hey there, my name is Shabaz Badshah and this is my little home on the internet.">
      <meta name="keywords" content="Shabaz, Badshah, Shabaz Badshah, UTM Shabaz Badshah,
      shabazbadshah.com, shabazbadshah.github.io">
      <meta name="author" content="Shabaz Badshah">

      <!-- Chrome, Firefox OS and Opera Colored Tabs-->
      <meta name="theme-color" content="{{page.theme-color}}">
      <!-- Windows Phone Colored Tabs-->
      <meta name="msapplication-navbutton-color" content="{{page.theme-color}}">
      <!-- iOS Safari Colored Tabs-->
      <meta name="apple-mobile-web-app-status-bar-style" content="{{page.theme-color}}">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
      <link rel="stylesheet" href="{{site.baseurl}}/assets/project-assets/project-showcase-style.css">
      <!-- Custom css for each page -->
      <link rel="stylesheet" href="{{site.baseurl}}{{page.style}}">
      <script src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
      <script src="{{site.baseurl}}/assets/js/lightbox.js"></script>
   </head>

   <body>
      <div class="ind-project-page-wrap">

         <div class="mobile-header-wrap">
            <div class="mobile-nav-toggle">
               <span></span>
            </div>
         </div>

         <div class="back-to-projects">
            <a href="{{site.baseurl}}/projects-list-index.html">All Projects</a>
         </div>

         <div class="ind-project-meta-wrap">
            <div class="ind-project-image">
               <img src="{{site.baseurl}}{{page.thumbnail}}" alt="">
            </div>
            <div class="ind-project-meta-content">
               <h2 class="ind-project-name">{{page.title}}</h2>
               <h4 class="ind-project-date">{{page.date | date: "%b %d %Y"}}</h4>
               <h4 class="ind-project-category">{{page.project-category}}</h4>
            </div>
            <div class="ind-project-link"><a href="{{page.repo_link}}"><img src="{{site.baseurl}}/assets/img/github_logo.png" alt=""></a></div>
         </div>

         <div class="ind-project-content-wrap">
            <div class="ind-project-content">
               {{ content }}
            </div>

            <div class="thanks-wrap">
               <p class="article-thanks">
                  Thanks for reading :)
               </p>
            </div>

         </div>


      </div>


   <script src="{{site.baseurl}}/assets/js/functions.js"></script>

   <script type="text/javascript">
      // Used for the mobile nav, shows the project meta when expanded
      $(window).on("orientationchange load resize", function() {
         $(".mobile-nav-toggle").click(function() {
            if(parseInt( $(".ind-project-meta-wrap").css("margin-left") ) == -700) {
               $(".ind-project-meta-wrap, .back-to-projects").css("margin-left", 0);
            } else {
               $(".ind-project-meta-wrap, .back-to-projects").css("margin-left", -700);
            }
         });

      });
   </script>

   <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-99899651-1', 'auto');
     ga('send', 'pageview');
   </script>

   </body>
</html>
