---
layout: default
title: 301 TA Notes - shabazbadshah.com
permalink: /301-notes/
---
<h2 class="page-title">301 Tutorial Notes</h2>
<div id="blog-list-wrapper">
  <ul id="blog-list">
    {% for post in site.categories.301-notes %}
      <li class="blog-list-item">
        <a class="blog-title-link" href="{{ post.url }}" aria-label="{{ post.title }}">{{ post.title }}</a>
        <h5 class="blog-date"> {{post.date | date: "%B %-d, %Y"}}</h5>
      </li>
    {% endfor %}
  </ul>
</div>

{% include footer.html %}